<div class="top">
    <i class="fa fa-play" id="play"></i>Videos
</div>
<div class="main-container">
    <div class="input-container">
        <input type="text" placeholder="Insert URL here">
    </div>
    <label class="or">or</label>
    <div class="upload-container" style="margin-top: 30px;">
        <div class="text-box" style="padding-top: 40px; display: block;">
            <input type="file" id="upload_image" #file (change)="onSelectFile($event)" required style="display:none" />
            <label for="upload_image" class="upload" id="file">Upload</label>
        </div>
        <div class="preview-box">
            <img [src]="url" *ngIf="format==='image' && url" height="200">
            <video [src]="url" *ngIf="format==='video' && url" height="200" controls></video>
        </div>
    </div>
    
</div>