.main-container{
    margin-top: 100px;
    text-align: center;
}

.input-container input{
    width: 70%;
    height: 30px;
    margin-bottom: 10px;
}

.upload-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    height: 120px;
    padding: 50px;
    padding-left: 180px;
    padding-right: 180px;
}

.text-box{
    background-color: #f1f1f1;
    padding: 10px;
    flex: 10%;
}

.upload{
    cursor: pointer;
    background-color: white;
    font-size: 25px;
}

.preview-box{
    background-color: transparent;
    padding: 10px;
    flex: 90%;
}

.or{
    text-align: center;
}

.top{
    margin-top: 100px;
}

#play{
  -ms-transform: rotate(180deg); /* IE 9 */
  transform: rotate(180deg);
  margin-right: 10px;
}

@media (max-width: 800px) {
    .upload-container {
      flex-direction: column;
    }
    .input-container {
        flex-direction: column;
      }
      .main-container {
        flex-direction: column;
      }
  }